streamlit

numpy
pandas
scipy
scikit-learn

matplotlib
seaborn
plotly

lightgbm
xgboost
catboost
optuna

torch==2.2.2
torchvision==0.17.2

torch-geometric==2.6.1

rdkit==2023.9.5

networkx
sympy
joblib
tqdm
requests
pyyaml
